/JavaApplication1/nbproject/private/
/TrabalhoCG/nbproject/private/
/TrabalhoCG/build/
/TrabalhoCG/dist/
/TrabalhoOAC/nbproject/private/
/TrabalhoOAC/build/
/TrabalhoOAC/dist/
/JavaApplication1/build/
/JavaApplication1/dist/
/BrincandoComGuis/nbproject/private/
/FramePlays/nbproject/private/
/FramePlays/build/
/FramePlays/dist/
/GuiPlays/nbproject/private/
/CrudeGuiManager/nbproject/private/
/CrudeGuiManager/build/
/CrudeGuiManager/dist/
/ZueiraApplication/nbproject/private/
/ZueiraApplication/build/
/ZueiraApplication/dist/