/JavaApplication1/nbproject/private/
/TrabalhoCG/nbproject/private/
/TrabalhoCG/build/
/TrabalhoCG/dist/
/TrabalhoOAC/nbproject/private/
/TrabalhoOAC/build/
/TrabalhoOAC/dist/
/JavaApplication1/build/
/JavaApplication1/dist/